openapi: 3.2.0
info:
  contact:
    email: podman@lists.podman.io
    name: Podman
    url: https://podman.io/community/
  description: This documentation describes the Podman v2.x+ RESTful API.
  license:
    name: Apache-2.0
    url: https://opensource.org/licenses/Apache-2.0
  termsOfService: https://github.com/containers/podman/blob/913caaa9b1de2b63692c9bae15120208194c9eb3/LICENSE
  title: supports a RESTful API for the Libpod library system…
  version: 5.0.0
  x-logo:
  - url: https://raw.githubusercontent.com/containers/libpod/main/logo/podman-logo.png
  - altText: Podman logo
servers:
- url: http://podman.io/
- url: https://podman.io/
tags:
- description: Actions related to Podman and compatibility engines
  name: system (compat)
paths:
  /auth:
    post:
      operationId: SystemAuth
      responses:
        '200':
          $ref: '#/components/responses/systemAuthResponse'
        '500':
          $ref: '#/components/responses/internalError'
      summary: Check auth configuration
      tags:
      - system (compat)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthConfig'
          application/x-tar:
            schema:
              $ref: '#/components/schemas/AuthConfig'
        description: Authentication to check
  /events:
    get:
      description: Returns events filtered on query parameters
      operationId: SystemEvents
      parameters:
      - description: start streaming events from this time
        in: query
        name: since
        schema:
          type: string
      - description: stop streaming events later than this
        in: query
        name: until
        schema:
          type: string
      - description: JSON encoded map[string][]string of constraints
        in: query
        name: filters
        schema:
          type: string
      responses:
        '200':
          description: returns a string of json data describing an event
        '500':
          $ref: '#/components/responses/internalError'
      summary: Get events
      tags:
      - system (compat)
  /info:
    get:
      description: Returns information on the system and libpod configuration
      operationId: SystemInfo
      responses:
        '200':
          description: to be determined
        '500':
          $ref: '#/components/responses/internalError'
      summary: Get info
      tags:
      - system (compat)
  /libpod/_ping:
    get:
      description: 'Return protocol information in response headers.

        `HEAD /libpod/_ping` is also supported.

        `/_ping` is available for compatibility with other engines.

        The ''_ping'' endpoints are not versioned.'
      operationId: SystemPing
      responses:
        '200':
          description: Success
          headers:
            API-Version:
              description: Max compatibility API Version the server supports
              schema:
                type: string
            BuildKit-Version:
              description: Default version of docker image builder
              schema:
                type: string
            Cache-Control:
              description: always no-cache
              schema:
                type: string
            Docker-Experimental:
              description: If the server is running with experimental mode enabled, always true
              schema:
                type: boolean
            Libpod-API-Version:
              description: 'Max Podman API Version the server supports.

                Available if service is backed by Podman, therefore may be used to

                determine if talking to Podman engine or another engine

                '
              schema:
                type: string
            Libpod-Buildah-Version:
              description: "Default version of libpod image builder.\n  Available if service is backed by Podman, therefore may be used to\n  determine if talking to Podman engine or another engine\n"
              schema:
                type: string
            Pragma:
              description: always no-cache
              schema:
                type: string
          content:
            text/plain:
              schema:
                description: OK
                example: OK
                type: string
        '500':
          $ref: '#/components/responses/internalError'
      summary: Ping service
      tags:
      - system (compat)
  /system/df:
    get:
      description: Return information about disk usage for containers, images, and volumes
      operationId: SystemDataUsage
      responses:
        '200':
          $ref: '#/components/responses/systemDiskUsage'
        '500':
          $ref: '#/components/responses/internalError'
      summary: Show disk usage
      tags:
      - system (compat)
  /version:
    get:
      operationId: SystemVersion
      responses:
        '200':
          $ref: '#/components/responses/versionResponse'
      summary: Component Version information
      tags:
      - system (compat)
components:
  schemas:
    ErrorModel:
      description: ErrorModel is used in remote connections with podman
      properties:
        cause:
          description: API root cause formatted for automated parsing
          example: API root cause
          type: string
          x-go-name: Because
        message:
          description: human error message, formatted for a human to read
          example: human error message
          type: string
          x-go-name: Message
        response:
          description: HTTP response code
          format: int64
          minimum: 400
          type: integer
          x-go-name: ResponseCode
      type: object
      x-go-package: go.podman.io/podman/v6/pkg/errorhandling
    ComponentVersion:
      description: ServiceOptions provides the input for starting an API and sidecar pprof services
      type: object
      x-go-package: go.podman.io/podman/v6/pkg/domain/entities
    SystemDfReport:
      description: ServiceOptions provides the input for starting an API and sidecar pprof services
      type: object
      x-go-package: go.podman.io/podman/v6/pkg/domain/entities
    AuthConfig:
      description: AuthConfig contains authorization information for connecting to a Registry
      properties:
        auth:
          type: string
          x-go-name: Auth
        email:
          description: 'Email is an optional value associated with the username.

            This field is deprecated and will be removed in a later

            version of docker.'
          type: string
          x-go-name: Email
        identitytoken:
          description: 'IdentityToken is used to authenticate the user and get

            an access token for the registry.'
          type: string
          x-go-name: IdentityToken
        password:
          type: string
          x-go-name: Password
        registrytoken:
          description: RegistryToken is a bearer token to be sent to a registry
          type: string
          x-go-name: RegistryToken
        serveraddress:
          type: string
          x-go-name: ServerAddress
        username:
          type: string
          x-go-name: Username
      type: object
      x-go-package: go.podman.io/podman/v6/pkg/domain/entities/types
    AuthReport:
      type: object
      x-go-package: go.podman.io/podman/v6/pkg/domain/entities
  responses:
    internalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
        application/octet-stream:
          schema:
            $ref: '#/components/schemas/ErrorModel'
        text/plain:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    versionResponse:
      description: Version
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ComponentVersion'
        application/octet-stream:
          schema:
            $ref: '#/components/schemas/ComponentVersion'
        text/plain:
          schema:
            $ref: '#/components/schemas/ComponentVersion'
    systemAuthResponse:
      description: Auth response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthReport'
        application/octet-stream:
          schema:
            $ref: '#/components/schemas/AuthReport'
        text/plain:
          schema:
            $ref: '#/components/schemas/AuthReport'
    systemDiskUsage:
      description: Disk usage
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SystemDfReport'
        application/octet-stream:
          schema:
            $ref: '#/components/schemas/SystemDfReport'
        text/plain:
          schema:
            $ref: '#/components/schemas/SystemDfReport'
