openapi: 3.2.0
info:
  contact:
    email: podman@lists.podman.io
    name: Podman
    url: https://podman.io/community/
  description: This documentation describes the Podman v2.x+ RESTful API.
  license:
    name: Apache-2.0
    url: https://opensource.org/licenses/Apache-2.0
  termsOfService: https://github.com/containers/podman/blob/913caaa9b1de2b63692c9bae15120208194c9eb3/LICENSE
  title: supports a RESTful API for the Libpod library Secrets API
  version: 5.0.0
  x-logo:
  - url: https://raw.githubusercontent.com/containers/libpod/main/logo/podman-logo.png
  - altText: Podman logo
servers:
- url: http://podman.io/
- url: https://podman.io/
tags:
- description: Actions related to secrets
  name: Secrets
paths:
  /libpod/secrets/{name}:
    delete:
      operationId: SecretDeleteLibpod
      parameters:
      - description: the name or ID of the secret
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Remove all secrets
        in: query
        name: all
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: no error
        '404':
          $ref: '#/components/responses/NoSuchSecret'
        '500':
          $ref: '#/components/responses/internalError'
      summary: Remove secret
      tags:
      - Secrets
  /libpod/secrets/{name}/exists:
    get:
      operationId: SecretExistsLibpod
      parameters:
      - description: the name or ID of the secret
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '204':
          description: secret exists
        '404':
          $ref: '#/components/responses/NoSuchSecret'
        '500':
          $ref: '#/components/responses/internalError'
      summary: Secret exists
      tags:
      - Secrets
  /libpod/secrets/{name}/json:
    get:
      operationId: SecretInspectLibpod
      parameters:
      - description: the name or ID of the secret
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Display Secret
        in: query
        name: showsecret
        schema:
          type: boolean
          default: false
      responses:
        '200':
          $ref: '#/components/responses/SecretInspectResponse'
        '404':
          $ref: '#/components/responses/NoSuchSecret'
        '500':
          $ref: '#/components/responses/internalError'
      summary: Inspect secret
      tags:
      - Secrets
  /libpod/secrets/create:
    post:
      operationId: SecretCreateLibpod
      parameters:
      - description: User-defined name of the secret.
        in: query
        name: name
        required: true
        schema:
          type: string
      - description: Secret driver
        in: query
        name: driver
        schema:
          type: string
          default: file
      - description: JSON-encoded string containing secret driver options as a `map[string]string`.
        in: query
        name: driveropts
        schema:
          type: string
      - description: JSON-encoded string containing labels as a `map[string]string`.
        in: query
        name: labels
        schema:
          type: string
      - description: Replace an existing secret with the same name.
        in: query
        name: replace
        schema:
          type: boolean
          default: false
      - description: Ignore the request if a secret with the same name already exists.
        in: query
        name: ignore
        schema:
          type: boolean
          default: false
      responses:
        '201':
          $ref: '#/components/responses/SecretCreateResponse'
        '500':
          $ref: '#/components/responses/internalError'
      summary: Create a secret
      tags:
      - Secrets
      requestBody:
        content:
          application/json:
            schema:
              type: string
          application/x-tar:
            schema:
              type: string
        description: Secret
  /libpod/secrets/json:
    get:
      description: Returns a list of secrets
      operationId: SecretListLibpod
      parameters:
      - description: "JSON encoded value of the filters (a `map[string][]string`) to process on the secrets list. Currently available filters:\n  - `name=[name]` Matches secrets name (accepts regex).\n  - `id=[id]` Matches for full or partial ID.\n"
        in: query
        name: filters
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/SecretListResponse'
        '500':
          $ref: '#/components/responses/internalError'
      summary: List secrets
      tags:
      - Secrets
components:
  schemas:
    ErrorModel:
      description: ErrorModel is used in remote connections with podman
      properties:
        cause:
          description: API root cause formatted for automated parsing
          example: API root cause
          type: string
          x-go-name: Because
        message:
          description: human error message, formatted for a human to read
          example: human error message
          type: string
          x-go-name: Message
        response:
          description: HTTP response code
          format: int64
          minimum: 400
          type: integer
          x-go-name: ResponseCode
      type: object
      x-go-package: go.podman.io/podman/v6/pkg/errorhandling
    SecretInfoReport:
      type: object
      x-go-package: go.podman.io/podman/v6/pkg/domain/entities
    SecretCreateReport:
      type: object
      x-go-package: go.podman.io/podman/v6/pkg/domain/entities
  responses:
    internalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
        application/octet-stream:
          schema:
            $ref: '#/components/schemas/ErrorModel'
        text/plain:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    SecretListResponse:
      description: Secret list response
      content:
        application/json:
          schema:
            items:
              $ref: '#/components/schemas/SecretInfoReport'
            type: array
        application/octet-stream:
          schema:
            items:
              $ref: '#/components/schemas/SecretInfoReport'
            type: array
        text/plain:
          schema:
            items:
              $ref: '#/components/schemas/SecretInfoReport'
            type: array
    NoSuchSecret:
      description: No such secret
      content:
        application/json:
          schema:
            properties:
              cause:
                description: API root cause formatted for automated parsing
                example: API root cause
                type: string
                x-go-name: Because
              message:
                description: human error message, formatted for a human to read
                example: human error message
                type: string
                x-go-name: Message
              response:
                description: HTTP response code
                format: int64
                minimum: 400
                type: integer
                x-go-name: ResponseCode
            type: object
        application/octet-stream:
          schema:
            properties:
              cause:
                description: API root cause formatted for automated parsing
                example: API root cause
                type: string
                x-go-name: Because
              message:
                description: human error message, formatted for a human to read
                example: human error message
                type: string
                x-go-name: Message
              response:
                description: HTTP response code
                format: int64
                minimum: 400
                type: integer
                x-go-name: ResponseCode
            type: object
        text/plain:
          schema:
            properties:
              cause:
                description: API root cause formatted for automated parsing
                example: API root cause
                type: string
                x-go-name: Because
              message:
                description: human error message, formatted for a human to read
                example: human error message
                type: string
                x-go-name: Message
              response:
                description: HTTP response code
                format: int64
                minimum: 400
                type: integer
                x-go-name: ResponseCode
            type: object
    SecretCreateResponse:
      description: Secret create response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/SecretCreateReport'
        application/octet-stream:
          schema:
            allOf:
            - $ref: '#/components/schemas/SecretCreateReport'
        text/plain:
          schema:
            allOf:
            - $ref: '#/components/schemas/SecretCreateReport'
    SecretInspectResponse:
      description: Secret inspect response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretInfoReport'
        application/octet-stream:
          schema:
            $ref: '#/components/schemas/SecretInfoReport'
        text/plain:
          schema:
            $ref: '#/components/schemas/SecretInfoReport'
