openapi: 3.2.0
info:
  contact:
    email: podman@lists.podman.io
    name: Podman
    url: https://podman.io/community/
  description: This documentation describes the Podman v2.x+ RESTful API.
  license:
    name: Apache-2.0
    url: https://opensource.org/licenses/Apache-2.0
  termsOfService: https://github.com/containers/podman/blob/913caaa9b1de2b63692c9bae15120208194c9eb3/LICENSE
  title: supports a RESTful API for the Libpod library exec (compat)…
  version: 5.0.0
  x-logo:
  - url: https://raw.githubusercontent.com/containers/libpod/main/logo/podman-logo.png
  - altText: Podman logo
servers:
- url: http://podman.io/
- url: https://podman.io/
tags:
- description: Actions related to exec for the compatibility endpoints
  name: exec (compat)
paths:
  /containers/{name}/exec:
    post:
      description: Create an exec session to run a command inside a running container. Exec sessions will be automatically removed 5 minutes after they exit.
      operationId: ContainerExec
      parameters:
      - description: name of container
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '201':
          description: no error
        '404':
          $ref: '#/components/responses/containerNotFound'
        '409':
          description: container is paused
        '500':
          $ref: '#/components/responses/internalError'
      summary: Create an exec instance
      tags:
      - exec (compat)
      requestBody:
        content:
          application/json:
            schema:
              properties:
                AttachStderr:
                  description: Attach to stderr of the exec command
                  type: boolean
                AttachStdin:
                  description: Attach to stdin of the exec command
                  type: boolean
                AttachStdout:
                  description: Attach to stdout of the exec command
                  type: boolean
                Cmd:
                  description: Command to run, as a string or array of strings.
                  items:
                    type: string
                  type: array
                DetachKeys:
                  description: '"Override the key sequence for detaching a container. Format is a single character [a-Z] or ctrl-<value> where <value> is one of: a-z, @, ^, [, , or _."

                    '
                  type: string
                Env:
                  description: A list of environment variables in the form ["VAR=value", ...]
                  items:
                    type: string
                  type: array
                Privileged:
                  default: false
                  description: Runs the exec process with extended privileges
                  type: boolean
                Tty:
                  description: Allocate a pseudo-TTY
                  type: boolean
                User:
                  description: '"The user, and optionally, group to run the exec process inside the container. Format is one of: user, user:group, uid, or uid:gid."

                    '
                  type: string
                WorkingDir:
                  description: The working directory for the exec process inside the container.
                  type: string
              type: object
          application/x-tar:
            schema:
              properties:
                AttachStderr:
                  description: Attach to stderr of the exec command
                  type: boolean
                AttachStdin:
                  description: Attach to stdin of the exec command
                  type: boolean
                AttachStdout:
                  description: Attach to stdout of the exec command
                  type: boolean
                Cmd:
                  description: Command to run, as a string or array of strings.
                  items:
                    type: string
                  type: array
                DetachKeys:
                  description: '"Override the key sequence for detaching a container. Format is a single character [a-Z] or ctrl-<value> where <value> is one of: a-z, @, ^, [, , or _."

                    '
                  type: string
                Env:
                  description: A list of environment variables in the form ["VAR=value", ...]
                  items:
                    type: string
                  type: array
                Privileged:
                  default: false
                  description: Runs the exec process with extended privileges
                  type: boolean
                Tty:
                  description: Allocate a pseudo-TTY
                  type: boolean
                User:
                  description: '"The user, and optionally, group to run the exec process inside the container. Format is one of: user, user:group, uid, or uid:gid."

                    '
                  type: string
                WorkingDir:
                  description: The working directory for the exec process inside the container.
                  type: string
              type: object
        description: Attributes for create
  /exec/{id}/json:
    get:
      description: Return low-level information about an exec instance.
      operationId: ExecInspect
      parameters:
      - description: Exec instance ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/execSessionInspect'
        '404':
          $ref: '#/components/responses/execSessionNotFound'
        '500':
          $ref: '#/components/responses/internalError'
      summary: Inspect an exec instance
      tags:
      - exec (compat)
  /exec/{id}/resize:
    post:
      description: Resize the TTY session used by an exec instance. This endpoint only works if tty was specified as part of creating and starting the exec instance.
      operationId: ExecResize
      parameters:
      - description: Exec instance ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Height of the TTY session in characters
        in: query
        name: h
        schema:
          type: integer
      - description: Width of the TTY session in characters
        in: query
        name: w
        schema:
          type: integer
      - description: Ignore containers not running errors
        in: query
        name: running
        schema:
          type: boolean
      responses:
        '201':
          description: no error
        '404':
          $ref: '#/components/responses/execSessionNotFound'
        '500':
          $ref: '#/components/responses/internalError'
      summary: Resize an exec instance
      tags:
      - exec (compat)
  /exec/{id}/start:
    post:
      description: Starts a previously set up exec instance. If detach is true, this endpoint returns immediately after starting the command. Otherwise, it sets up an interactive session with the command.
      operationId: ExecStart
      parameters:
      - description: Exec instance ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: no error
        '404':
          $ref: '#/components/responses/execSessionNotFound'
        '409':
          description: container is not running
        '500':
          $ref: '#/components/responses/internalError'
      summary: Start an exec instance
      tags:
      - exec (compat)
      requestBody:
        content:
          application/json:
            schema:
              properties:
                Detach:
                  description: Detach from the command. Not presently supported.
                  type: boolean
                Tty:
                  description: Allocate a pseudo-TTY. Presently ignored.
                  type: boolean
              type: object
          application/x-tar:
            schema:
              properties:
                Detach:
                  description: Detach from the command. Not presently supported.
                  type: boolean
                Tty:
                  description: Allocate a pseudo-TTY. Presently ignored.
                  type: boolean
              type: object
        description: Attributes for start
components:
  schemas:
    ErrorModel:
      description: ErrorModel is used in remote connections with podman
      properties:
        cause:
          description: API root cause formatted for automated parsing
          example: API root cause
          type: string
          x-go-name: Because
        message:
          description: human error message, formatted for a human to read
          example: human error message
          type: string
          x-go-name: Message
        response:
          description: HTTP response code
          format: int64
          minimum: 400
          type: integer
          x-go-name: ResponseCode
      type: object
      x-go-package: go.podman.io/podman/v6/pkg/errorhandling
    InspectExecSession:
      properties:
        CanRemove:
          description: 'CanRemove is legacy and used purely for compatibility reasons.

            Will always be set to true, unless the exec session is running.'
          type: boolean
        ContainerID:
          description: 'ContainerID is the ID of the container this exec session is attached

            to.'
          type: string
        DetachKeys:
          description: 'DetachKeys are the detach keys used by the exec session.

            If set to "" the default keys are being used.

            Will show "<none>" if no detach keys are set.'
          type: string
        ExitCode:
          description: 'ExitCode is the exit code of the exec session. Will be set to 0 if

            the exec session has not yet exited.'
          format: int64
          type: integer
        ID:
          description: ID is the ID of the exec session.
          type: string
        OpenStderr:
          description: 'OpenStderr is whether the container''s STDERR stream will be attached.

            Always set to true if the exec session created a TTY.'
          type: boolean
        OpenStdin:
          description: 'OpenStdin is whether the container''s STDIN stream will be attached

            to.'
          type: boolean
        OpenStdout:
          description: 'OpenStdout is whether the container''s STDOUT stream will be attached.

            Always set to true if the exec session created a TTY.'
          type: boolean
        Pid:
          description: 'Pid is the PID of the exec session''s process.

            Will be set to 0 if the exec session is not running.'
          format: int64
          type: integer
        ProcessConfig:
          $ref: '#/components/schemas/InspectExecProcess'
        Running:
          description: Running is whether the exec session is running.
          type: boolean
      title: InspectExecSession contains information about a given exec session.
      type: object
      x-go-package: go.podman.io/podman/v6/libpod/define
    InspectExecProcess:
      description: 'InspectExecProcess contains information about the process in a given exec

        session.'
      properties:
        arguments:
          description: 'Arguments are the arguments to the entrypoint command of the exec

            session.'
          items:
            type: string
          type: array
          x-go-name: Arguments
        entrypoint:
          description: 'Entrypoint is the entrypoint for the exec session (the command that

            will be executed in the container).'
          type: string
          x-go-name: Entrypoint
        privileged:
          description: 'Privileged is whether the exec session will be started with elevated

            privileges.'
          type: boolean
          x-go-name: Privileged
        tty:
          description: Tty is whether the exec session created a terminal.
          type: boolean
          x-go-name: Tty
        user:
          description: User is the user the exec session was started as.
          type: string
          x-go-name: User
      type: object
      x-go-package: go.podman.io/podman/v6/libpod/define
  responses:
    execSessionNotFound:
      description: No such exec instance
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
        application/octet-stream:
          schema:
            $ref: '#/components/schemas/ErrorModel'
        text/plain:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    internalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
        application/octet-stream:
          schema:
            $ref: '#/components/schemas/ErrorModel'
        text/plain:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    execSessionInspect:
      description: Exec Session Inspect
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InspectExecSession'
        application/octet-stream:
          schema:
            $ref: '#/components/schemas/InspectExecSession'
        text/plain:
          schema:
            $ref: '#/components/schemas/InspectExecSession'
    containerNotFound:
      description: No such container
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
        application/octet-stream:
          schema:
            $ref: '#/components/schemas/ErrorModel'
        text/plain:
          schema:
            $ref: '#/components/schemas/ErrorModel'
