openapi: 3.2.0
info:
  contact:
    email: podman@lists.podman.io
    name: Podman
    url: https://podman.io/community/
  description: This documentation describes the Podman v2.x+ RESTful API.
  license:
    name: Apache-2.0
    url: https://opensource.org/licenses/Apache-2.0
  termsOfService: https://github.com/containers/podman/blob/913caaa9b1de2b63692c9bae15120208194c9eb3/LICENSE
  title: supports a RESTful API for the Libpod library secrets…
  version: 5.0.0
  x-logo:
  - url: https://raw.githubusercontent.com/containers/libpod/main/logo/podman-logo.png
  - altText: Podman logo
servers:
- url: http://podman.io/
- url: https://podman.io/
tags:
- description: Actions related to secrets for the compatibility endpoints
  name: secrets (compat)
paths:
  /secrets:
    get:
      description: Returns a list of secrets
      operationId: SecretList
      parameters:
      - description: "JSON encoded value of the filters (a `map[string][]string`) to process on the secrets list. Currently available filters:\n  - `name=[name]` Matches secrets name (accepts regex).\n  - `id=[id]` Matches for full or partial ID.\n"
        in: query
        name: filters
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/SecretListCompatResponse'
        '500':
          $ref: '#/components/responses/internalError'
      summary: List secrets
      tags:
      - secrets (compat)
  /secrets/{name}:
    delete:
      operationId: SecretDelete
      parameters:
      - description: the name or ID of the secret
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '204':
          description: no error
        '404':
          $ref: '#/components/responses/NoSuchSecret'
        '500':
          $ref: '#/components/responses/internalError'
      summary: Remove secret
      tags:
      - secrets (compat)
    get:
      operationId: SecretInspect
      parameters:
      - description: the name or ID of the secret
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/SecretInspectCompatResponse'
        '404':
          $ref: '#/components/responses/NoSuchSecret'
        '500':
          $ref: '#/components/responses/internalError'
      summary: Inspect secret
      tags:
      - secrets (compat)
  /secrets/create:
    post:
      operationId: SecretCreate
      responses:
        '201':
          $ref: '#/components/responses/SecretCreateResponse'
        '409':
          $ref: '#/components/responses/SecretInUse'
        '500':
          $ref: '#/components/responses/internalError'
      summary: Create a secret
      tags:
      - secrets (compat)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretCreate'
          application/x-tar:
            schema:
              $ref: '#/components/schemas/SecretCreate'
        description: 'attributes for creating a secret

          '
components:
  schemas:
    ErrorModel:
      description: ErrorModel is used in remote connections with podman
      properties:
        cause:
          description: API root cause formatted for automated parsing
          example: API root cause
          type: string
          x-go-name: Because
        message:
          description: human error message, formatted for a human to read
          example: human error message
          type: string
          x-go-name: Message
        response:
          description: HTTP response code
          format: int64
          minimum: 400
          type: integer
          x-go-name: ResponseCode
      type: object
      x-go-package: go.podman.io/podman/v6/pkg/errorhandling
    SecretDriverSpec:
      type: object
      x-go-package: go.podman.io/podman/v6/pkg/domain/entities
    SecretCreate:
      properties:
        Data:
          description: Base64-url-safe-encoded (RFC 4648) data to store as secret.
          type: string
        Driver:
          $ref: '#/components/schemas/SecretDriverSpec'
        Labels:
          additionalProperties:
            type: string
          description: Labels are labels on the secret
          type: object
        Name:
          description: User-defined name of the secret.
          type: string
      type: object
      x-go-name: SecretCreateRequest
      x-go-package: go.podman.io/podman/v6/pkg/domain/entities
    SecretCreateReport:
      type: object
      x-go-package: go.podman.io/podman/v6/pkg/domain/entities
    SecretInfoReportCompat:
      type: object
      x-go-package: go.podman.io/podman/v6/pkg/domain/entities
  responses:
    internalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
        application/octet-stream:
          schema:
            $ref: '#/components/schemas/ErrorModel'
        text/plain:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    NoSuchSecret:
      description: No such secret
      content:
        application/json:
          schema:
            properties:
              cause:
                description: API root cause formatted for automated parsing
                example: API root cause
                type: string
                x-go-name: Because
              message:
                description: human error message, formatted for a human to read
                example: human error message
                type: string
                x-go-name: Message
              response:
                description: HTTP response code
                format: int64
                minimum: 400
                type: integer
                x-go-name: ResponseCode
            type: object
        application/octet-stream:
          schema:
            properties:
              cause:
                description: API root cause formatted for automated parsing
                example: API root cause
                type: string
                x-go-name: Because
              message:
                description: human error message, formatted for a human to read
                example: human error message
                type: string
                x-go-name: Message
              response:
                description: HTTP response code
                format: int64
                minimum: 400
                type: integer
                x-go-name: ResponseCode
            type: object
        text/plain:
          schema:
            properties:
              cause:
                description: API root cause formatted for automated parsing
                example: API root cause
                type: string
                x-go-name: Because
              message:
                description: human error message, formatted for a human to read
                example: human error message
                type: string
                x-go-name: Message
              response:
                description: HTTP response code
                format: int64
                minimum: 400
                type: integer
                x-go-name: ResponseCode
            type: object
    SecretCreateResponse:
      description: Secret create response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/SecretCreateReport'
        application/octet-stream:
          schema:
            allOf:
            - $ref: '#/components/schemas/SecretCreateReport'
        text/plain:
          schema:
            allOf:
            - $ref: '#/components/schemas/SecretCreateReport'
    SecretInUse:
      description: Secret in use
      content:
        application/json:
          schema:
            properties:
              cause:
                description: API root cause formatted for automated parsing
                example: API root cause
                type: string
                x-go-name: Because
              message:
                description: human error message, formatted for a human to read
                example: human error message
                type: string
                x-go-name: Message
              response:
                description: HTTP response code
                format: int64
                minimum: 400
                type: integer
                x-go-name: ResponseCode
            type: object
        application/octet-stream:
          schema:
            properties:
              cause:
                description: API root cause formatted for automated parsing
                example: API root cause
                type: string
                x-go-name: Because
              message:
                description: human error message, formatted for a human to read
                example: human error message
                type: string
                x-go-name: Message
              response:
                description: HTTP response code
                format: int64
                minimum: 400
                type: integer
                x-go-name: ResponseCode
            type: object
        text/plain:
          schema:
            properties:
              cause:
                description: API root cause formatted for automated parsing
                example: API root cause
                type: string
                x-go-name: Because
              message:
                description: human error message, formatted for a human to read
                example: human error message
                type: string
                x-go-name: Message
              response:
                description: HTTP response code
                format: int64
                minimum: 400
                type: integer
                x-go-name: ResponseCode
            type: object
    SecretInspectCompatResponse:
      description: Secret inspect compat
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretInfoReportCompat'
        application/octet-stream:
          schema:
            $ref: '#/components/schemas/SecretInfoReportCompat'
        text/plain:
          schema:
            $ref: '#/components/schemas/SecretInfoReportCompat'
    SecretListCompatResponse:
      description: Secret list response
      content:
        application/json:
          schema:
            items:
              $ref: '#/components/schemas/SecretInfoReportCompat'
            type: array
        application/octet-stream:
          schema:
            items:
              $ref: '#/components/schemas/SecretInfoReportCompat'
            type: array
        text/plain:
          schema:
            items:
              $ref: '#/components/schemas/SecretInfoReportCompat'
            type: array
