swagger: '2.0'
info:
  contact:
    email: podman@lists.podman.io
    name: Podman
    url: https://podman.io/community/
  description: 'This documentation describes the Podman v2.x+ RESTful API. It consists of a Docker-compatible

    API and a Libpod API providing support for Podman’s unique features such as pods.


    To start the service and keep it running for 5,000 seconds (-t 0 runs forever):


    podman system service -t 5000 &


    You can then use cURL on the socket using requests documented below.


    NOTE: if you install the package podman-docker, it will create a symbolic

    link for /run/docker.sock to /run/podman/podman.sock


    NOTE: Some fields in the API response JSON are encoded as omitempty, which means that

    if said field has a zero value, they will not be encoded in the API response. This

    is a feature to help reduce the size of the JSON responses returned via the API.


    NOTE: Due to the limitations of [go-swagger](https://github.com/go-swagger/go-swagger),

    some field values that have a complex type show up as null in the docs as well as in the

    API responses. This is because the zero value for the field type is null. The field

    description in the docs will state what type the field is expected to be for such cases.


    See podman-system-service(1) for more information.


    Quick Examples:


    ''podman info''


    curl --unix-socket /run/podman/podman.sock http://d/v6.0.0/libpod/info


    ''podman pull quay.io/containers/podman''


    curl -XPOST --unix-socket /run/podman/podman.sock -v ''http://d/v6.0.0/images/create?fromImage=quay.io%2Fcontainers%2Fpodman''


    ''podman list images''


    curl --unix-socket /run/podman/podman.sock -v ''http://d/v6.0.0/libpod/images/json'' | jq'
  license:
    name: Apache-2.0
    url: https://opensource.org/licenses/Apache-2.0
  termsOfService: https://github.com/containers/podman/blob/913caaa9b1de2b63692c9bae15120208194c9eb3/LICENSE
  title: supports a RESTful API for the Libpod library artifacts containers API
  version: 5.0.0
  x-logo:
  - url: https://raw.githubusercontent.com/containers/libpod/main/logo/podman-logo.png
  - altText: Podman logo
host: podman.io
basePath: /
schemes:
- http
- https
consumes:
- application/json
- application/x-tar
produces:
- application/json
- application/octet-stream
- text/plain
tags:
- description: Actions related to containers
  name: containers
paths:
  /libpod/commit:
    post:
      description: Create a new image from a container
      operationId: ImageCommitLibpod
      parameters:
      - description: the name or ID of a container
        in: query
        name: container
        required: true
        type: string
      - description: author of the image
        in: query
        name: author
        type: string
      - description: instructions to apply while committing in Dockerfile format (i.e. "CMD=/bin/foo")
        in: query
        items:
          type: string
        name: changes
        type: array
      - description: commit message
        in: query
        name: comment
        type: string
      - description: format of the image manifest and metadata (default "oci")
        in: query
        name: format
        type: string
      - description: pause the container before committing it
        in: query
        name: pause
        type: boolean
      - description: squash the container before committing it
        in: query
        name: squash
        type: boolean
      - description: the repository name for the created image
        in: query
        name: repo
        type: string
      - description: output from commit process
        in: query
        name: stream
        type: boolean
      - description: tag name for the created image
        in: query
        name: tag
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: no error
        '404':
          $ref: '#/responses/imageNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Commit
      tags:
      - containers
  /libpod/containers/{name}:
    delete:
      description: Delete container
      operationId: ContainerDeleteLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      - description: additionally remove containers that depend on the container to be removed
        in: query
        name: depend
        type: boolean
      - description: force stop container if running
        in: query
        name: force
        type: boolean
      - description: ignore errors when the container to be removed does not existxo
        in: query
        name: ignore
        type: boolean
      - default: 10
        description: number of seconds to wait before killing container when force removing
        in: query
        name: timeout
        type: integer
      - description: delete volumes
        in: query
        name: v
        type: boolean
      produces:
      - application/json
      responses:
        '200':
          $ref: '#/responses/containerRemoveLibpod'
        '204':
          description: no error
        '400':
          $ref: '#/responses/badParamError'
        '404':
          $ref: '#/responses/containerNotFound'
        '409':
          $ref: '#/responses/conflictError'
        '500':
          $ref: '#/responses/internalError'
      summary: Delete container
      tags:
      - containers
  /libpod/containers/{name}/archive:
    put:
      description: Copy a tar archive of files into a container
      operationId: PutContainerArchiveLibpod
      parameters:
      - description: container name or id
        in: path
        name: name
        required: true
        type: string
      - description: Path to a directory in the container to extract
        in: query
        name: path
        required: true
        type: string
      - default: true
        description: pause the container while copying (defaults to true)
        in: query
        name: pause
        type: boolean
      - description: tarfile of files to copy into the container
        in: body
        name: request
        schema:
          type: string
      produces:
      - application/json
      responses:
        '200':
          description: no error
        '400':
          $ref: '#/responses/badParamError'
        '403':
          description: the container rootfs is read-only
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Copy files into a container
      tags:
      - containers
  /libpod/containers/{name}/attach:
    post:
      description: 'Attach to a container to read its output or send it input. You can attach

        to the same container multiple times and you can reattach to containers

        that have been detached.


        ### Hijacking


        This endpoint hijacks the HTTP connection to transport `stdin`, `stdout`,

        and `stderr` on the same socket.


        This is the response from the service for an attach request:


        ```

        HTTP/1.1 200 OK

        Content-Type: application/vnd.docker.raw-stream


        [STREAM]

        ```


        After the headers and two new lines, the TCP connection can now be used

        for raw, bidirectional communication between the client and server.


        To inform potential proxies about connection hijacking, the client

        can also optionally send connection upgrade headers.


        For example, the client sends this request to upgrade the connection:


        ```

        POST /v4.6.0/libpod/containers/16253994b7c4/attach?stream=1&stdout=1 HTTP/1.1

        Upgrade: tcp

        Connection: Upgrade

        ```


        The service will respond with a `101 UPGRADED` response, and will

        similarly follow with the raw stream:


        ```

        HTTP/1.1 101 UPGRADED

        Content-Type: application/vnd.docker.raw-stream

        Connection: Upgrade

        Upgrade: tcp


        [STREAM]

        ```


        ### Stream format


        When the TTY setting is disabled for the container,

        the HTTP Content-Type header is set to application/vnd.docker.multiplexed-stream

        (starting with v4.7.0, previously application/vnd.docker.raw-stream was always used)

        and the stream over the hijacked connected is multiplexed to separate out

        `stdout` and `stderr`. The stream consists of a series of frames, each

        containing a header and a payload.


        The header contains the information about the output stream type and the size of

        the payload.

        It is encoded on the first eight bytes like this:


        ```go

        header := [8]byte{STREAM_TYPE, 0, 0, 0, SIZE1, SIZE2, SIZE3, SIZE4}

        ```


        `STREAM_TYPE` can be:


        - 0: `stdin` (is written on `stdout`)

        - 1: `stdout`

        - 2: `stderr`


        `SIZE1, SIZE2, SIZE3, SIZE4` are the four bytes of the `uint32` size

        encoded as big endian.


        Following the header is the payload, which contains the specified number of

        bytes as written in the size.


        The simplest way to implement this protocol is the following:


        1. Read 8 bytes.

        2. Choose `stdout` or `stderr` depending on the first byte.

        3. Extract the frame size from the last four bytes.

        4. Read the extracted size and output it on the correct output.

        5. Goto 1.


        ### Stream format when using a TTY


        When the TTY setting is enabled for the container,

        the stream is not multiplexed. The data exchanged over the hijacked

        connection is simply the raw data from the process PTY and client''s

        `stdin`.

        '
      operationId: ContainerAttachLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      - description: keys to use for detaching from the container
        in: query
        name: detachKeys
        type: string
      - description: Stream all logs from the container across the connection. Happens before streaming attach (if requested). At least one of logs or stream must be set
        in: query
        name: logs
        type: boolean
      - default: true
        description: Attach to the container. If unset, and logs is set, only the container's logs will be sent. At least one of stream or logs must be set
        in: query
        name: stream
        type: boolean
      - description: Attach to container STDOUT
        in: query
        name: stdout
        type: boolean
      - description: Attach to container STDERR
        in: query
        name: stderr
        type: boolean
      - description: Attach to container STDIN
        in: query
        name: stdin
        type: boolean
      produces:
      - application/json
      responses:
        '101':
          description: No error, connection has been hijacked for transporting streams.
        '400':
          $ref: '#/responses/badParamError'
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Attach to a container
      tags:
      - containers
  /libpod/containers/{name}/changes:
    get:
      description: 'Returns which files in a container''s filesystem have been added, deleted, or modified. The Kind of modification can be one of:


        0: Modified

        1: Added

        2: Deleted

        '
      operationId: ContainerChangesLibpod
      parameters:
      - description: the name or id of the container
        in: path
        name: name
        required: true
        type: string
      - description: specify a second layer which is used to compare against it instead of the parent layer
        in: query
        name: parent
        type: string
      - description: select what you want to match, default is all
        enum:
        - all
        - container
        - image
        in: query
        name: diffType
        type: string
      responses:
        '200':
          description: Array of Changes
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Report on changes to container's filesystem; adds, deletes or modifications.
      tags:
      - containers
  /libpod/containers/{name}/checkpoint:
    post:
      operationId: ContainerCheckpointLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      - description: keep all temporary checkpoint files
        in: query
        name: keep
        type: boolean
      - description: leave the container running after writing checkpoint to disk
        in: query
        name: leaveRunning
        type: boolean
      - description: checkpoint a container with established TCP connections
        in: query
        name: tcpEstablished
        type: boolean
      - description: export the checkpoint image to a tar.gz
        in: query
        name: export
        type: boolean
      - description: do not include root file-system changes when exporting. can only be used with export
        in: query
        name: ignoreRootFS
        type: boolean
      - description: do not include associated volumes. can only be used with export
        in: query
        name: ignoreVolumes
        type: boolean
      - description: dump the container's memory information only, leaving the container running. only works on runc 1.0-rc or higher
        in: query
        name: preCheckpoint
        type: boolean
      - description: check out the container with previous criu image files in pre-dump. only works on runc 1.0-rc or higher
        in: query
        name: withPrevious
        type: boolean
      - description: checkpoint a container with filelocks
        in: query
        name: fileLocks
        type: boolean
      - description: add checkpoint statistics to the returned CheckpointReport
        in: query
        name: printStats
        type: boolean
      produces:
      - application/json
      responses:
        '200':
          description: tarball is returned in body if exported
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Checkpoint a container
      tags:
      - containers
  /libpod/containers/{name}/exists:
    get:
      description: Quick way to determine if a container exists by name or ID
      operationId: ContainerExistsLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      produces:
      - application/json
      responses:
        '204':
          description: container exists
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Check if container exists
      tags:
      - containers
  /libpod/containers/{name}/export:
    get:
      description: Export the contents of a container as a tarball.
      operationId: ContainerExportLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: tarball is returned in body
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Export a container
      tags:
      - containers
  /libpod/containers/{name}/healthcheck:
    get:
      description: Execute the defined healthcheck and return information about the results
      operationId: ContainerHealthcheckLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          $ref: '#/responses/healthCheck'
        '404':
          $ref: '#/responses/containerNotFound'
        '409':
          description: container has no healthcheck or is not running
        '500':
          $ref: '#/responses/internalError'
      summary: Run a container's healthcheck
      tags:
      - containers
  /libpod/containers/{name}/init:
    post:
      description: Performs all tasks necessary for initializing the container but does not start the container.
      operationId: ContainerInitLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      produces:
      - application/json
      responses:
        '204':
          description: no error
        '304':
          description: container already initialized
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Initialize a container
      tags:
      - containers
  /libpod/containers/{name}/json:
    get:
      description: Return low-level information about a container.
      operationId: ContainerInspectLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      - description: display filesystem usage
        in: query
        name: size
        type: boolean
      produces:
      - application/json
      responses:
        '200':
          $ref: '#/responses/containerInspectResponseLibpod'
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Inspect container
      tags:
      - containers
  /libpod/containers/{name}/kill:
    post:
      description: send a signal to a container, defaults to killing the container
      operationId: ContainerKillLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      - default: SIGKILL
        description: signal to be sent to container, either by integer or SIG_ name
        in: query
        name: signal
        type: string
      produces:
      - application/json
      responses:
        '204':
          description: no error
        '404':
          $ref: '#/responses/containerNotFound'
        '409':
          $ref: '#/responses/conflictError'
        '500':
          $ref: '#/responses/internalError'
      summary: Kill container
      tags:
      - containers
  /libpod/containers/{name}/logs:
    get:
      description: 'Get stdout and stderr logs from a container.


        The stream format is the same as described in the attach endpoint.

        '
      operationId: ContainerLogsLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      - description: Keep connection after returning logs.
        in: query
        name: follow
        type: boolean
      - description: Return logs from stdout
        in: query
        name: stdout
        type: boolean
      - description: Return logs from stderr
        in: query
        name: stderr
        type: boolean
      - description: Only return logs since this time, as a UNIX timestamp
        in: query
        name: since
        type: string
      - description: Only return logs before this time, as a UNIX timestamp
        in: query
        name: until
        type: string
      - default: false
        description: Add timestamps to every log line
        in: query
        name: timestamps
        type: boolean
      - default: all
        description: Only return this number of log lines from the end of the logs
        in: query
        name: tail
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: logs returned as a stream in response body.
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Get container logs
      tags:
      - containers
  /libpod/containers/{name}/mount:
    post:
      description: Mount a container to the filesystem
      operationId: ContainerMountLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      - default: false
        description: Include external containers that are not managed by Podman.
        in: query
        name: external
        type: boolean
      produces:
      - application/json
      responses:
        '200':
          description: mounted container
          schema:
            description: id
            example: /var/lib/containers/storage/overlay/f3f693bd88872a1e3193f4ebb925f4c282e8e73aadb8ab3e7492754dda3a02a4/merged
            type: string
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Mount a container
      tags:
      - containers
  /libpod/containers/{name}/pause:
    post:
      description: Use the cgroups freezer to suspend all processes in a container.
      operationId: ContainerPauseLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      produces:
      - application/json
      responses:
        '204':
          description: no error
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Pause a container
      tags:
      - containers
  /libpod/containers/{name}/rename:
    post:
      description: Change the name of an existing container.
      operationId: ContainerRenameLibpod
      parameters:
      - description: Full or partial ID or full name of the container to rename
        in: path
        name: name
        required: true
        type: string
      - description: New name for the container
        in: query
        name: name
        required: true
        type: string
      produces:
      - application/json
      responses:
        '204':
          description: no error
        '404':
          $ref: '#/responses/containerNotFound'
        '409':
          $ref: '#/responses/conflictError'
        '500':
          $ref: '#/responses/internalError'
      summary: Rename an existing container
      tags:
      - containers
  /libpod/containers/{name}/resize:
    post:
      description: Resize the terminal attached to a container (for use with Attach).
      operationId: ContainerResizeLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      - description: Height to set for the terminal, in characters
        in: query
        name: h
        type: integer
      - description: Width to set for the terminal, in characters
        in: query
        name: w
        type: integer
      - description: Ignore containers not running errors
        in: query
        name: running
        type: boolean
      produces:
      - application/json
      responses:
        '200':
          $ref: '#/responses/ok'
        '404':
          $ref: '#/responses/containerNotFound'
        '409':
          $ref: '#/responses/conflictError'
        '500':
          $ref: '#/responses/internalError'
      summary: Resize a container's TTY
      tags:
      - containers
  /libpod/containers/{name}/restart:
    post:
      operationId: ContainerRestartLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      - description: number of seconds to wait before killing container (Docker compatibility)
        in: query
        name: t
        type: integer
      - description: number of seconds to wait before killing container
        in: query
        name: timeout
        type: integer
      produces:
      - application/json
      responses:
        '204':
          description: no error
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Restart a container
      tags:
      - containers
  /libpod/containers/{name}/restore:
    post:
      description: Restore a container from a checkpoint.
      operationId: ContainerRestoreLibpod
      parameters:
      - description: the name or id of the container
        in: path
        name: name
        required: true
        type: string
      - description: the name of the container when restored from a tar. can only be used with import
        in: query
        name: name
        type: string
      - description: keep all temporary checkpoint files
        in: query
        name: keep
        type: boolean
      - description: restore a container with established TCP connections
        in: query
        name: tcpEstablished
        type: boolean
      - description: restore a container but close the TCP connections
        in: query
        name: tcpClose
        type: boolean
      - description: import the restore from a checkpoint tar.gz
        in: query
        name: import
        type: boolean
      - description: do not include root file-system changes when exporting. can only be used with import
        in: query
        name: ignoreRootFS
        type: boolean
      - description: do not restore associated volumes. can only be used with import
        in: query
        name: ignoreVolumes
        type: boolean
      - description: ignore IP address if set statically
        in: query
        name: ignoreStaticIP
        type: boolean
      - description: ignore MAC address if set statically
        in: query
        name: ignoreStaticMAC
        type: boolean
      - description: restore a container with file locks
        in: query
        name: fileLocks
        type: boolean
      - description: add restore statistics to the returned RestoreReport
        in: query
        name: printStats
        type: boolean
      - description: pod to restore into
        in: query
        name: pod
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: tarball is returned in body if exported
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Restore a container
      tags:
      - containers
  /libpod/containers/{name}/start:
    post:
      operationId: ContainerStartLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      - default: ctrl-p,ctrl-q
        description: 'Override the key sequence for detaching a container. Format is a single character [a-Z] or ctrl-<value> where <value> is one of: a-z, @, ^, [, , or _.'
        in: query
        name: detachKeys
        type: string
      produces:
      - application/json
      responses:
        '204':
          description: no error
        '304':
          $ref: '#/responses/containerAlreadyStartedError'
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Start a container
      tags:
      - containers
  /libpod/containers/{name}/stats:
    get:
      description: DEPRECATED. This endpoint will be removed with the next major release. Please use /libpod/containers/stats instead.
      operationId: ContainerStatsLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      - default: true
        description: Stream the output
        in: query
        name: stream
        type: boolean
      produces:
      - application/json
      responses:
        '200':
          description: no error
        '404':
          $ref: '#/responses/containerNotFound'
        '409':
          $ref: '#/responses/conflictError'
        '500':
          $ref: '#/responses/internalError'
      summary: Get stats for a container
      tags:
      - containers
  /libpod/containers/{name}/stop:
    post:
      operationId: ContainerStopLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      - default: 10
        description: number of seconds to wait before killing container
        in: query
        name: timeout
        type: integer
      - default: false
        description: do not return error if container is already stopped
        in: query
        name: ignore
        type: boolean
      produces:
      - application/json
      responses:
        '204':
          description: no error
        '304':
          $ref: '#/responses/containerAlreadyStoppedError'
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Stop a container
      tags:
      - containers
  /libpod/containers/{name}/top:
    get:
      description: List processes running inside a container
      operationId: ContainerTopLibpod
      parameters:
      - description: Name of container to query for processes (As of version 1.xx)
        in: path
        name: name
        required: true
        type: string
      - description: when true, repeatedly stream the latest output (As of version 4.0)
        in: query
        name: stream
        type: boolean
      - default: 5
        description: if streaming, delay in seconds between updates. Must be >1. (As of version 4.0)
        in: query
        name: delay
        type: integer
      - description: 'arguments to pass to ps such as aux.

          '
        in: query
        items:
          type: string
        name: ps_args
        type: array
      produces:
      - application/json
      responses:
        '200':
          $ref: '#/responses/containerTopResponse'
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: List processes
      tags:
      - containers
  /libpod/containers/{name}/unmount:
    post:
      description: Unmount a container from the filesystem
      operationId: ContainerUnmountLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      produces:
      - application/json
      responses:
        '204':
          description: ok
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Unmount a container
      tags:
      - containers
  /libpod/containers/{name}/unpause:
    post:
      operationId: ContainerUnpauseLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      produces:
      - application/json
      responses:
        '204':
          description: no error
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Unpause Container
      tags:
      - containers
  /libpod/containers/{name}/update:
    post:
      description: Updates the configuration of an existing container, allowing changes to resource limits and healthchecks.
      operationId: ContainerUpdateLibpod
      parameters:
      - description: Full or partial ID or full name of the container to update
        in: path
        name: name
        required: true
        type: string
      - description: New restart policy for the container.
        in: query
        name: restartPolicy
        type: string
      - description: New amount of retries for the container's restart policy. Only allowed if restartPolicy is set to on-failure
        in: query
        name: restartRetries
        type: integer
      - description: attributes for updating the container
        in: body
        name: config
        schema:
          $ref: '#/definitions/UpdateEntities'
      produces:
      - application/json
      responses:
        '201':
          $ref: '#/responses/containerUpdateResponse'
        '400':
          $ref: '#/responses/badParamError'
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Updates the configuration of an existing container, allowing changes to resource limits and healthchecks
      tags:
      - containers
  /libpod/containers/{name}/wait:
    post:
      description: Wait on a container to meet a given condition
      operationId: ContainerWaitLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        type: string
      - description: Conditions to wait for. If no condition provided the 'exited' condition is assumed.
        in: query
        items:
          enum:
          - configured
          - created
          - exited
          - healthy
          - initialized
          - paused
          - removing
          - running
          - stopped
          - stopping
          - unhealthy
          type: string
        name: condition
        type: array
      - default: 250ms
        description: Time Interval to wait before polling for completion.
        in: query
        name: interval
        type: string
      produces:
      - application/json
      - text/plain
      responses:
        '200':
          description: Status code
          examples:
            text/plain: 137
          schema:
            format: int32
            type: integer
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Wait on a container
      tags:
      - containers
  /libpod/containers/create:
    post:
      operationId: ContainerCreateLibpod
      parameters:
      - description: attributes for creating a container
        in: body
        name: create
        required: true
        schema:
          $ref: '#/definitions/SpecGenerator'
      produces:
      - application/json
      responses:
        '201':
          $ref: '#/responses/containerCreateResponse'
        '400':
          $ref: '#/responses/badParamError'
        '404':
          $ref: '#/responses/containerNotFound'
        '409':
          $ref: '#/responses/conflictError'
        '500':
          $ref: '#/responses/internalError'
      summary: Create a container
      tags:
      - containers
  /libpod/containers/json:
    get:
      description: Returns a list of containers
      operationId: ContainerListLibpod
      parameters:
      - default: false
        description: Return all containers. By default, only running containers are shown
        in: query
        name: all
        type: boolean
      - description: Return this number of most recently created containers, including non-running ones.
        in: query
        name: limit
        type: integer
      - description: Alias for `limit`. Return this number of most recently created containers.
        in: query
        name: last
        type: integer
      - default: false
        description: Return containers created by external tools that use container storage.
        in: query
        name: external
        type: boolean
      - default: false
        description: Include namespace information
        in: query
        name: namespace
        type: boolean
      - default: false
        description: Ignored. Previously included details on pod name and ID that are currently included by default.
        in: query
        name: pod
        type: boolean
      - default: false
        description: Return the size of container as fields SizeRw and SizeRootFs.
        in: query
        name: size
        type: boolean
      - default: false
        description: Sync container state with OCI runtime
        in: query
        name: sync
        type: boolean
      - description: 'A JSON encoded value of the filters (a `map[string][]string`) to process on the containers list. Available filters:

          - `ancestor`=(`<image-name>[:<tag>]`, `<image id>`, or `<image@digest>`)

          - `before`=(`<container id>` or `<container name>`)

          - `expose`=(`<port>[/<proto>]` or `<startport-endport>/[<proto>]`)

          - `exited=<int>` containers with exit code of `<int>`

          - `health`=(`starting`, `healthy`, `unhealthy` or `none`)

          - `id=<ID>` a container''s ID

          - `is-task`=(`true` or `false`)

          - `label`=(`key` or `"key=value"`) of a container label

          - `name=<name>` a container''s name

          - `network`=(`<network id>` or `<network name>`)

          - `pod`=(`<pod id>` or `<pod name>`)

          - `publish`=(`<port>[/<proto>]` or `<startport-endport>/[<proto>]`)

          - `since`=(`<container id>` or `<container name>`)

          - `status`=(`created`, `restarting`, `running`, `removing`, `paused`, `exited` or `dead`)

          - `volume`=(`<volume name>` or `<mount point destination>`)

          '
        in: query
        name: filters
        type: string
      produces:
      - application/json
      responses:
        '200':
          $ref: '#/responses/containersListLibpod'
        '400':
          $ref: '#/responses/badParamError'
        '500':
          $ref: '#/responses/internalError'
      summary: List containers
      tags:
      - containers
  /libpod/containers/prune:
    post:
      description: Remove containers not in use
      operationId: ContainerPruneLibpod
      parameters:
      - description: "Filters to process on the prune list, encoded as JSON (a `map[string][]string`).  Available filters:\n - `until=<timestamp>` Prune containers created before this timestamp. The `<timestamp>` can be Unix timestamps, date formatted timestamps, or Go duration strings (e.g. `10m`, `1h30m`) computed relative to the daemon machine’s time.\n - `label` (`label=<key>`, `label=<key>=<value>`, `label!=<key>`, or `label!=<key>=<value>`) Prune containers with (or without, in case `label!=...` is used) the specified labels.\n"
        in: query
        name: filters
        type: string
      produces:
      - application/json
      responses:
        '200':
          $ref: '#/responses/containersPruneLibpod'
        '500':
          $ref: '#/responses/internalError'
      summary: Delete stopped containers
      tags:
      - containers
  /libpod/containers/showmounted:
    get:
      description: Lists all mounted containers mount points
      operationId: ContainerShowMountedLibpod
      produces:
      - application/json
      responses:
        '200':
          description: mounted containers
          schema:
            additionalProperties:
              type: string
            type: object
        '500':
          $ref: '#/responses/internalError'
      summary: Show mounted containers
      tags:
      - containers
  /libpod/containers/stats:
    get:
      description: Return a live stream of resource usage statistics of one or more container. If no container is specified, the statistics of all containers are returned.
      operationId: ContainersStatsAllLibpod
      parameters:
      - description: names or IDs of containers
        in: query
        items:
          type: string
        name: containers
        type: array
      - default: true
        description: Stream the output
        in: query
        name: stream
        type: boolean
      - default: 5
        description: Time in seconds between stats reports
        in: query
        name: interval
        type: integer
      - default: false
        description: Provide statistics for all running containers
        in: query
        name: all
        type: boolean
      produces:
      - application/json
      responses:
        '200':
          $ref: '#/responses/containerStats'
        '404':
          $ref: '#/responses/containerNotFound'
        '500':
          $ref: '#/responses/internalError'
      summary: Get stats for one or more containers
      tags:
      - containers
  /libpod/generate/{name}/systemd:
    get:
      description: Generate Systemd Units based on a pod or container.
      operationId: GenerateSystemdLibpod
      parameters:
      - description: Name or ID of the container or pod.
        in: path
        name: name
        required: true
        type: string
      - default: false
        description: Use container/pod names instead of IDs.
        in: query
        name: useName
        type: boolean
      - default: false
        description: Create a new container instead of starting an existing one.
        in: query
        name: new
        type: boolean
      - default: false
        description: Do not generate the header including the Podman version and the timestamp.
        in: query
        name: noHeader
        type: boolean
      - default: 0
        description: Start timeout in seconds.
        in: query
        name: startTimeout
        type: integer
      - default: 10
        description: Stop timeout in seconds.
        in: query
        name: stopTimeout
        type: integer
      - default: on-failure
        description: Systemd restart-policy.
        enum:
        - 'no'
        - on-success
        - on-failure
        - on-abnormal
        - on-watchdog
        - on-abort
        - always
        in: query
        name: restartPolicy
        type: string
      - default: container
        description: Systemd unit name prefix for containers.
        in: query
        name: containerPrefix
        type: string
      - default: pod
        description: Systemd unit name prefix for pods.
        in: query
        name: podPrefix
        type: string
      - default: '-'
        description: Systemd unit name separator between name/id and prefix.
        in: query
        name: separator
        type: string
      - default: 0
        description: Configures the time to sleep before restarting a service.
        in: query
        name: restartSec
        type: integer
      - default: []
        description: Systemd Wants list for the container or pods.
        in: query
        items:
          type: string
        name: wants
        type: array
      - default: []
        description: Systemd After list for the container or pods.
        in: query
        items:
          type: string
        name: after
        type: array
      - default: []
        description: Systemd Requires list for the container or pods.
        in: query
        items:
          type: string
        name: requires
        type: array
      - default: []
        description: Set environment variables to the systemd unit files.
        in: query
        items:
          type: string
        name: additionalEnvVariables
        type: array
      - default: false
        description: Add template specifier for the systemd unit file names.
        in: query
        name: templateUnitFile
        type: boolean
      produces:
      - application/json
      responses:
        '200':
          description: no error
          schema:
            additionalProperties:
              type: string
            type: object
        '500':
          $ref: '#/responses/internalError'
      summary: Generate Systemd Units
      tags:
      - containers
  /libpod/generate/kube:
    get:
      description: Generate Kubernetes YAML based on a pod or container.
      operationId: GenerateKubeLibpod
      parameters:
      - description: Name or ID of the container or pod.
        in: query
        items:
          type: string
        name: names
        required: true
        type: array
      - default: false
        description: Generate YAML for a Kubernetes service object.
        in: query
        name: service
        type: boolean
      - default: pod
        description: Generate YAML for the given Kubernetes kind.
        in: query
        name: type
        type: string
      - default: 0
        description: Set the replica number for Deployment kind.
        format: int32
        in: query
        name: replicas
        type: integer
      - default: false
        description: don't truncate annotations to the Kubernetes maximum length of 63 characters
        in: query
        name: noTrunc
        type: boolean
      - default: false
        description: add podman-only reserved annotations in generated YAML file (cannot be used by Kubernetes)
        in: query
        name: podmanOnly
        type: boolean
      produces:
      - text/vnd.yaml
      - application/json
      responses:
        '200':
          description: Kubernetes YAML file describing pod
          schema:
            format: binary
            type: string
        '500':
          $ref: '#/responses/internalError'
      summary: Generate a Kubernetes YAML file.
      tags:
      - containers
  /libpod/kube/apply:
    post:
      description: Deploy a podman container, pod, volume, or Kubernetes yaml to a Kubernetes cluster.
      operationId: KubeApplyLibpod
      parameters:
      - description: Path to the CA cert file for the Kubernetes cluster.
        in: query
        name: caCertFile
        type: string
      - description: Path to the kubeconfig file for the Kubernetes cluster.
        in: query
        name: kubeConfig
        type: string
      - description: The namespace to deploy the workload to on the Kubernetes cluster.
        in: query
        name: namespace
        type: string
      - description: Create a service object for the container being deployed.
        in: query
        name: service
        type: boolean
      - description: Path to the Kubernetes yaml file to deploy.
        in: query
        name: file
        type: string
      - description: Kubernetes YAML file.
        in: body
        name: request
        schema:
          type: string
      produces:
      - application/json
      responses:
        '200':
          description: Kubernetes YAML file successfully deployed to cluster
          schema:
            format: binary
            type: string
        '500':
          $ref: '#/responses/internalError'
      summary: Apply a podman workload or Kubernetes YAML file.
      tags:
      - containers
  /libpod/play/kube:
    delete:
      description: Tears down pods, secrets, and volumes defined in a YAML file
      operationId: PlayKubeDownLibpod
      parameters:
      - default: false
        description: Remove volumes.
        in: query
        name: force
        type: boolean
      produces:
      - application/json
      responses:
        '200':
          $ref: '#/responses/playKubeResponseLibpod'
        '500':
          $ref: '#/responses/internalError'
      summary: Remove resources created from kube play
      tags:
      - containers
    post:
      description: "Create and run pods based on a Kubernetes YAML file.\n\n### Content-Type\n\nThen endpoint support two Content-Type\n - `plain/text` for yaml format\n - `application/x-tar` for sending context(s) required for building images\n\n#### Tar format\n\nThe tar format must contain a `play.yaml` file at the root that will be used.\nIf the file format requires context to build an image, it uses the image name and\ncheck for corresponding folder.\n\nFor example, the client sends a tar file with the following structure:\n\n```\n└── content.tar\n ├── play.yaml\n └── foobar/\n     └── Containerfile\n```\n\nThe `play.yaml` is the following, the `foobar` image means we are looking for a context with this name.\n```\napiVersion: v1\nkind: Pod\nmetadata:\nname: demo-build-remote\nspec:\ncontainers:\n - name: container\n   image: foobar\n```\n"
      operationId: PlayKubeLibpod
      parameters:
      - default: plain/text
        enum:
        - plain/text
        - application/x-tar
        in: header
        name: Content-Type
        type: string
      - description: JSON encoded value of annotations (a map[string]string).
        in: query
        name: annotations
        type: string
      - description: Logging driver for the containers in the pod.
        in: query
        name: logDriver
        type: string
      - description: logging driver options
        in: query
        items:
          type: string
        name: logOptions
        type: array
      - description: USe the network mode or specify an array of networks.
        in: query
        items:
          type: string
        name: network
        type: array
      - default: false
        description: do not setup /etc/hosts file in container
        in: query
        name: noHosts
        type: boolean
      - default: false
        description: use annotations that are not truncated to the Kubernetes maximum length of 63 characters
        in: query
        name: noTrunc
        type: boolean
      - description: publish a container's port, or a range of ports, to the host
        in: query
        items:
          type: string
        name: publishPorts
        type: array
      - description: Whether to publish all ports defined in the K8S YAML file (containerPort, hostPort), if false only hostPort will be published
        in: query
        name: publishAllPorts
        type: boolean
      - default: false
        description: replace existing pods and containers
        in: query
        name: replace
        type: boolean
      - default: false
        description: Starts a service container before all pods.
        in: query
        name: serviceContainer
        type: boolean
      - default: true
        description: Start the pod after creating it.
        in: query
        name: start
        type: boolean
      - description: Static IPs used for the pods.
        in: query
        items:
          type: string
        name: staticIPs
        type: array
      - description: Static MACs used for the pods.
        in: query
        items:
          type: string
        name: staticMACs
        type: array
      - default: true
        description: Require HTTPS and verify signatures when contacting registries.
        in: query
        name: tlsVerify
        type: boolean
      - description: Set the user namespace mode for the pods.
        in: query
        name: userns
        type: string
      - default: false
        description: Clean up all objects created when a SIGTERM is received or pods exit.
        in: query
        name: wait
        type: boolean
      - description: Build the images with corresponding context.
        in: query
        name: build
        type: boolean
      - description: Kubernetes YAML file.
        in: body
        name: request
        schema:
          type: string
      produces:
      - application/json
      responses:
        '200':
          $ref: '#/responses/playKubeResponseLibpod'
        '500':
          $ref: '#/responses/internalError'
      summary: Play a Kubernetes YAML file.
      tags:
      - containers
definitions:
  ErrorModel:
    description: ErrorModel is used in remote connections with podman
    properties:
      cause:
        description: API root cause formatted for automated parsing
        example: API root cause
        type: string
        x-go-name: Because
      message:
        description: human error message, formatted for a human to read
        example: human error message
        type: string
        x-go-name: Message
      response:
        description: HTTP response code
        format: int64
        minimum: 400
        type: integer
        x-go-name: ResponseCode
    type: object
    x-go-package: go.podman.io/podman/v6/pkg/errorhandling
  InspectContainerState:
    description: 'InspectContainerState provides a detailed record of a container''s current

      state. It is returned as part of InspectContainerData.

      As with InspectContainerData, many portions of this struct are matched to

      Docker, but here we see more fields that are unused (nonsensical in the

      context of Libpod).'
    properties:
      CgroupPath:
        type: string
      CheckpointLog:
        type: string
      CheckpointPath:
        type: string
      Checkpointed:
        type: boolean
      CheckpointedAt:
        format: date-time
        type: string
      ConmonPid:
        format: int64
        type: integer
      Dead:
        type: boolean
      Error:
        type: string
      ExitCode:
        format: int32
        type: integer
      FinishedAt:
        format: date-time
        type: string
      Health:
        $ref: '#/definitions/HealthCheckResults'
      OOMKilled:
        type: boolean
      OciVersion:
        type: string
      Paused:
        type: boolean
      Pid:
        format: int64
        type: integer
      Restarting:
        type: boolean
      RestoreLog:
        type: string
      Restored:
        type: boolean
      RestoredAt:
        format: date-time
        type: string
      Running:
        type: boolean
      StartedAt:
        format: date-time
        type: string
      Status:
        type: string
      StoppedByUser:
        type: boolean
    type: object
    x-go-package: go.podman.io/podman/v6/libpod/define
  LinuxWeightDevice:
    description: LinuxWeightDevice struct holds a `major:minor weight` pair for weightDevice
    properties:
      leafWeight:
        description: LeafWeight is the bandwidth rate for the device while competing with the cgroup's child cgroups, CFQ scheduler only
        format: uint16
        type: integer
        x-go-name: LeafWeight
      major:
        description: Major is the device's major number.
        format: int64
        type: integer
        x-go-name: Major
      minor:
        description: Minor is the device's minor number.
        format: int64
        type: integer
        x-go-name: Minor
      weight:
        description: Weight is the bandwidth rate for the device.
        format: uint16
        type: integer
        x-go-name: Weight
    type: object
    x-go-package: github.com/opencontainers/runtime-spec/specs-go
  LibpodContainersRmReport:
    properties:
      Err:
        description: 'Error which occurred during Rm operation (if any).

          This field is optional and may be omitted if no error occurred.'
        type: string
        x-go-name: RmError
        x-nullable: true
        x-omitempty: true
      Id:
        type: string
        x-go-name: ID
    type: object
    x-go-package: go.podman.io/podman/v6/pkg/api/handlers
  InspectMount:
    description: 'InspectMount provides a record of a single mount in a container. It contains

      fields for both named and normal volumes. Only user-specified volumes will be

      included, and tmpfs volumes are not included even if the user specified them.'
    properties:
      Destination:
        description: 'The destination directory for the volume. Specified as a path within

          the container, as it would be passed into the OCI runtime.'
        type: string
      Driver:
        description: The driver used for the named volume. Empty for bind mounts.
        type: string
      Mode:
        description: 'Contains SELinux :z/:Z mount options. Unclear what, if anything, else

          goes in here.'
        type: string
      Name:
        description: The name of the volume. Empty for bind mounts.
        type: string
      Options:
        description: 'All remaining mount options. Additional data, not present in the

          original output.'
        items:
          type: string
        type: array
      Propagation:
        description: 'Mount propagation for the mount. Can be empty if not specified, but

          is always printed - no omitempty.'
        type: string
      RW:
        description: Whether the volume is read-write
        type: boolean
      Source:
        description: The source directory for the volume.
        type: string
      SubPath:
        description: 'SubPath object from the volume. Specified as a path within

          the source volume to be mounted at the Destination.'
        type: string
      Type:
        description: 'Whether the mount is a volume or bind mount. Allowed values are

          "volume" and "bind".'
        type: string
    type: object
    x-go-package: go.podman.io/podman/v6/libpod/define
  NamespaceMode:
    type: string
    x-go-package: go.podman.io/podman/v6/pkg/specgen
  HealthCheckResults:
    description: HealthCheckResults describes the results/logs from a healthcheck
    properties:
      FailingStreak:
        description: FailingStreak is the number of consecutive failed healthchecks
        format: int64
        type: integer
      Log:
        description: Log describes healthcheck attempts and results
        items:
          $ref: '#/definitions/HealthCheckLog'
        type: array
      Status:
        description: Status starting, healthy or unhealthy
        type: string
    type: object
    x-go-package: go.podman.io/podman/v6/libpod/define
  LinuxBlockIO:
    description: LinuxBlockIO for Linux cgroup 'blkio' resource management
    properties:
      leafWeight:
        description: Specifies tasks' weight in the given cgroup while competing with the cgroup's child cgroups, CFQ scheduler only
        format: uint16
        type: integer
        x-go-name: LeafWeight
      throttleReadBpsDevice:
        description: IO read rate limit per cgroup per device, bytes per second
        items:
          $ref: '#/definitions/LinuxThrottleDevice'
        type: array
        x-go-name: ThrottleReadBpsDevice
      throttleReadIOPSDevice:
        description: IO read rate limit per cgroup per device, IO per second
        items:
          $ref: '#/definitions/LinuxThrottleDevice'
        type: array
        x-go-name: ThrottleReadIOPSDevice
      throttleWriteBpsDevice:
        description: IO write rate limit per cgroup per device, bytes per second
        items:
          $ref: '#/definitions/LinuxThrottleDevice'
        type: array
        x-go-name: ThrottleWriteBpsDevice
      throttleWriteIOPSDevice:
        description: IO write rate limit per cgroup per device, IO per second
        items:
          $ref: '#/definitions/LinuxThrottleDevice'
        type: array
        x-go-name: ThrottleWriteIOPSDevice
      weight:
        description: Specifies per cgroup weight
        format: uint16
        type: integer
        x-go-name: Weight
      weightDevice:
        description: Weight per cgroup per device, can override BlkioWeight
        items:
          $ref: '#/definitions/LinuxWeightDevice'
        type: array
        x-go-name: WeightDevice
    type: object
    x-go-package: github.com/opencontainers/runtime-spec/specs-go
  Propagation:
    title: Propagation represents the propagation of a mount.
    type: string
    x-go-package: github.com/moby/moby/api/types/mount
  Secret:
    properties:
      GID:
        format: uint32
        type: integer
      Mode:
        format: uint32
        type: integer
      Source:
        type: string
      Target:
        type: string
      UID:
        format: uint32
        type: integer
    type: object
    x-go-package: go.podman.io/podman/v6/pkg/specgen
  LinuxPersonality:
    description: LinuxPersonality represents the Linux personality syscall input
    properties:
      domain:
        $ref: '#/definitions/LinuxPersonalityDomain'
      flags:
        description: Additional flags
        items:
          $ref: '#/definitions/LinuxPersonalityFlag'
        type: array
        x-go-name: Flags
    type: object
    x-go-package: github.com/opencontainers/runtime-spec/specs-go
  PlayKubeReport:
    title: PlayKubeReport contains the results of running play kube.
    type: object
    x-go-package: go.podman.io/podman/v6/pkg/domain/entities
  LinuxPids:
    description: LinuxPids for Linux cgroup 'pids' resource management (Linux 4.3)
    properties:
      limit:
        description: Maximum number of PIDs. Default is "no limit".
        format: int64
        type: integer
        x-go-name: Limit
    type: object
    x-go-package: github.com/opencontainers/runtime-spec/specs-go
  IDMappingOptions:
    description: 'IDMappingOptions are used for specifying how ID mapping should be set up for

      a layer or container.'
    properties:
      AutoUserNs:
        type: boolean
      AutoUserNsOpts:
        $ref: '#/definitions/AutoUserNsOptions'
      GIDMap:
        items:
          $ref: '#/definitions/IDMap'
        type: array
      HostGIDMapping:
        type: boolean
      HostUIDMapping:
        description: 'UIDMap and GIDMap are used for setting up a layer''s root filesystem

          for use inside of a user namespace where ID mapping is being used.

          If HostUIDMapping/HostGIDMapping is true, no mapping of the

          respective type will be used.  Otherwise, if UIDMap and/or GIDMap

          contain at least one mapping, one or both will be used.  By default,

          if neither of those conditions apply, if the layer has a parent

          layer, the parent layer''s mapping will be used, and if it does not

          have a parent layer, the mapping which was passed to the Store

          object when it was initialized will be used.'
        type: boolean
      UIDMap:
        items:
          $ref: '#/definitions/IDMap'
        type: array
    type: object
    x-go-package: go.podman.io/storage/types
  LinuxThrottleDevice:
    description: LinuxThrottleDevice struct holds a `major:minor rate_per_second` pair
    properties:
      major:
        description: Major is the device's major number.
        format: int64
        type: integer
        x-go-name: Major
      minor:
        description: Minor is the device's minor number.
        format: int64
        type: integer
        x-go-name: Minor
      rate:
        description: Rate is the IO rate limit per cgroup per device
        format: uint64
        type: integer
        x-go-name: Rate
    type: object
    x-go-package: github.com/opencontainers/runtime-spec/specs-go
  Signal:
    description: It implements the [os.Signal] interface.
    format: int64
    title: A Signal is a number describing a process signal.
    type: integer
    x-go-package: syscall
  SpecGenerator:
    description: 'SpecGenerator creates an OCI spec and Libpod configuration options to create

      a container based on the given configuration.'
    properties:
      Networks:
        additionalProperties:
          $ref: '#/definitions/PerNetworkOptions'
        description: 'Map of networks names or ids that the container should join.

          You can request additional settings for each network, you can

          set network aliases, static ips, static mac address  and the

          network interface name for this container on the specific network.

          If the map is empty and the bridge network mode is set the container

          will be joined to the default network.

          Optional.'
        type: object
      annotations:
        additionalProperties:
          type: string
        description: 'Annotations are key-value options passed into the container runtime

          that can be used to trigger special behavior.

          Optional.'
        type: object
        x-go-name: Annotations
      apparmor_profile:
        description: 'ApparmorProfile is the name of the Apparmor profile the container

          will use.

          Optional.'
        type: string
        x-go-name: ApparmorProfile
      artifact_volumes:
        description: ArtifactVolumes volumes based on an existing artifact.
        items:
          $ref: '#/definitions/ArtifactVolume'
        type: array
        x-go-name: ArtifactVolumes
      base_hosts_file:
        description: 'BaseHostsFile is the base file to create the `/etc/hosts` file inside the container.

          This must either be an absolute path to a file on the host system, or one of the

          special flags `image` or `none`.

          If it is empty it defaults to the base_hosts_file configuration in containers.conf.

          Optional.'
        type: string
        x-go-name: BaseHostsFile
      cap_add:
        description: 'CapAdd are capabilities which will be added to the container.

          Conflicts with Privileged.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: CapAdd
      cap_drop:
        description: 'CapDrop are capabilities which will be removed from the container.

          Conflicts with Privileged.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: CapDrop
      cgroup_parent:
        description: 'CgroupParent is the container''s Cgroup parent.

          If not set, the default for the current cgroup driver will be used.

          Optional.'
        type: string
        x-go-name: CgroupParent
      cgroupns:
        $ref: '#/definitions/Namespace'
      cgroups_mode:
        description: 'CgroupsMode sets a policy for how cgroups will be created for the

          container, including the ability to disable creation entirely.

          Optional.'
        type: string
        x-go-name: CgroupsMode
      chroot_directories:
        description: 'ChrootDirs is an additional set of directories that need to be

          treated as root directories. Standard bind mounts will be mounted

          into paths relative to these directories.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: ChrootDirs
      command:
        description: 'Command is the container''s command.

          If not given and Image is specified, this will be populated by the

          image''s configuration.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: Command
      conmon_pid_file:
        description: 'ConmonPidFile is a path at which a PID file for Conmon will be

          placed.

          If not given, a default location will be used.

          Optional.'
        type: string
        x-go-name: ConmonPidFile
      containerCreateCommand:
        description: 'ContainerCreateCommand is the command that was used to create this

          container.

          This will be shown in the output of Inspect() on the container, and

          may also be used by some tools that wish to recreate the container

          (e.g. `podman generate systemd --new`).

          Optional.'
        items:
          type: string
        type: array
        x-go-name: ContainerCreateCommand
      create_working_dir:
        description: 'Create the working directory if it doesn''t exist.

          If unset, it doesn''t create it.

          Optional.'
        type: boolean
        x-go-name: CreateWorkingDir
      dependencyContainers:
        description: 'DependencyContainers is an array of containers this container

          depends on. Dependency containers must be started before this

          container. Dependencies can be specified by name or full/partial ID.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: DependencyContainers
      device_cgroup_rule:
        description: 'DeviceCgroupRule are device cgroup rules that allow containers

          to use additional types of devices.'
        items:
          $ref: '#/definitions/LinuxDeviceCgroup'
        type: array
        x-go-name: DeviceCgroupRule
      devices:
        description: 'Devices are devices that will be added to the container.

          Optional.'
        items:
          $ref: '#/definitions/LinuxDevice'
        type: array
        x-go-name: Devices
      devices_from:
        description: 'DevicesFrom specifies that this container will mount the device(s) from other container(s).

          Optional.'
        items:
          type: string
        type: array
        x-go-name: DevicesFrom
      dns_option:
        description: 'DNSOptions is a set of DNS options that will be used in the

          container''s resolv.conf, replacing the host''s DNS options which are

          used by default.

          Conflicts with UseImageResolvConf.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: DNSOptions
      dns_search:
        description: 'DNSSearch is a set of DNS search domains that will be used in the

          container''s resolv.conf, replacing the host''s DNS search domains

          which are used by default.

          Conflicts with UseImageResolvConf.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: DNSSearch
      dns_server:
        description: 'DNSServers is a set of DNS servers that will be used in the

          container''s resolv.conf, replacing the host''s DNS Servers which are

          used by default.

          Conflicts with UseImageResolvConf.

          Optional.'
        items:
          type: string
          x-go-type: net.IP
        type: array
        x-go-name: DNSServers
      entrypoint:
        description: 'Entrypoint is the container''s entrypoint.

          If not given and Image is specified, this will be populated by the

          image''s configuration.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: Entrypoint
      env:
        additionalProperties:
          type: string
        description: 'Env is a set of environment variables that will be set in the

          container.

          Optional.'
        type: object
        x-go-name: Env
      env_host:
        description: 'EnvHost indicates that the host environment should be added to container

          Optional.'
        type: boolean
        x-go-name: EnvHost
      envmerge:
        description: 'EnvMerge takes the specified environment variables from image and preprocess them before injecting them into the

          container.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: EnvMerge
      expose:
        description: 'Expose is a number of ports that will be forwarded to the container

          if PublishExposedPorts is set.

          Expose is a map of uint16 (port number) to a string representing

          protocol i.e map[uint16]string. Allowed protocols are "tcp", "udp", and "sctp", or some

          combination of the three separated by commas.

          If protocol is set to "" we will assume TCP.

          Only available if NetNS is set to Bridge or Pasta, and

          PublishExposedPorts is set.

          Optional.'
        x-go-name: Expose
      gpus:
        description: 'GPUs contains GPU device identifiers for CDI resolution.

          These will be resolved to full CDI device paths on the server side.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: GPUs
      group_entry:
        description: 'GroupEntry specifies an arbitrary string to append to the container''s /etc/group file.

          Optional.'
        type: string
        x-go-name: GroupEntry
      groups:
        description: 'Groups are a list of supplemental groups the container''s user will

          be granted access to.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: Groups
      health_check_on_failure_action:
        $ref: '#/definitions/HealthCheckOnFailureAction'
      healthLogDestination:
        description: 'HealthLogDestination defines the destination where the log is stored.

          TODO (6.0): In next major release convert it to pointer and use omitempty'
        type: string
        x-go-name: HealthLogDestination
      healthMaxLogCount:
        description: 'HealthMaxLogCount is maximum number of attempts in the HealthCheck log file.

          (''0'' value means an infinite number of attempts in the log file).

          TODO (6.0): In next major release convert it to pointer and use omitempty'
        format: uint64
        type: integer
        x-go-name: HealthMaxLogCount
      healthMaxLogSize:
        description: 'HealthMaxLogSize is the maximum length in characters of stored HealthCheck log

          ("0" value means an infinite log length).

          TODO (6.0): In next major release convert it to pointer and use omitempty'
        format: uint64
        type: integer
        x-go-name: HealthMaxLogSize
      healthconfig:
        $ref: '#/definitions/Schema2HealthConfig'
      host_device_list:
        description: HostDeviceList is used to recreate the mounted device on inherited containers
        items:
          $ref: '#/definitions/LinuxDevice'
        type: array
        x-go-name: HostDeviceList
      hostadd:
        description: 'HostAdd is a set of hosts which will be added to the container''s

          etc/hosts file.

          Conflicts with UseImageHosts.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: HostAdd
      hostname:
        description: 'Hostname is the container''s hostname. If not set, the hostname will

          not be modified (if UtsNS is not private) or will be set to the

          container ID (if UtsNS is private).

          Conflicts with UtsNS if UtsNS is not set to private.

          Optional.'
        type: string
        x-go-name: Hostname
      hostusers:
        description: 'HostUsers is a list of host usernames or UIDs to add to the container

          etc/passwd file'
        items:
          type: string
        type: array
        x-go-name: HostUsers
      httpproxy:
        description: 'EnvHTTPProxy indicates that the http host proxy environment variables

          should be added to container

          Optional.'
        type: boolean
        x-go-name: HTTPProxy
      idmappings:
        $ref: '#/definitions/IDMappingOptions'
      image:
        description: 'Image is the image the container will be based on. The image will be

          used as the container''s root filesystem, and its environment vars,

          volumes, and other configuration will be applied to the container.

          Conflicts with Rootfs.

          At least one of Image or Rootfs must be specified.'
        type: string
        x-go-name: Image
      image_arch:
        description: 'ImageArch is the user-specified image architecture.

          Used to select a different variant from a manifest list.

          Optional.'
        type: string
        x-go-name: ImageArch
      image_os:
        description: 'ImageOS is the user-specified OS of the image.

          Used to select a different variant from a manifest list.

          Optional.'
        type: string
        x-go-name: ImageOS
      image_variant:
        description: 'ImageVariant is the user-specified image variant.

          Used to select a different variant from a manifest list.

          Optional.'
        type: string
        x-go-name: ImageVariant
      image_volume_mode:
        description: 'ImageVolumeMode indicates how image volumes will be created.

          Supported modes are "ignore" (do not create), "tmpfs" (create as

          tmpfs), and "anonymous" (create as anonymous volumes).

          The default if unset is anonymous.

          Optional.'
        type: string
        x-go-name: ImageVolumeMode
      image_volumes:
        description: 'Image volumes bind-mount a container-image mount into the container.

          Optional.'
        items:
          $ref: '#/definitions/ImageVolume'
        type: array
        x-go-name: ImageVolumes
      init:
        description: 'Init specifies that an init binary will be mounted into the

          container, and will be used as PID1.

          Optional.'
        type: boolean
        x-go-name: Init
      init_container_type:
        description: 'InitContainerType describes if this container is an init container

          and if so, what type: always or once.

          Optional.'
        type: string
        x-go-name: InitContainerType
      init_path:
        description: 'InitPath specifies the path to the init binary that will be added if

          Init is specified above. If not specified, the default set in the

          Libpod config will be used. Ignored if Init above is not set.

          Optional.'
        type: string
        x-go-name: InitPath
      intelRdt:
        $ref: '#/definitions/LinuxIntelRdt'
      ipcns:
        $ref: '#/definitions/Namespace'
      label_nested:
        description: 'LabelNested indicates whether or not the container is allowed to

          run fully nested containers including SELinux labelling.

          Optional.'
        type: boolean
        x-go-name: LabelNested
      labels:
        additionalProperties:
          type: string
        description: 'Labels are key-value pairs that are used to add metadata to

          containers.

          Optional.'
        type: object
        x-go-name: Labels
      log_configuration:
        $ref: '#/definitions/LogConfigLibpod'
      manage_password:
        description: Passwd is a container run option that determines if we are validating users/groups before running the container
        type: boolean
        x-go-name: Passwd
      mask:
        description: 'Mask is the path we want to mask in the container. This masks the paths

          given in addition to the default list.

          Optional'
        items:
          type: string
        type: array
        x-go-name: Mask
      mounts:
        description: 'Mounts are mounts that will be added to the container.

          These will supersede Image Volumes and VolumesFrom volumes where

          there are conflicts.

          Optional.'
        items:
          $ref: '#/definitions/Mount'
        type: array
        x-go-name: Mounts
      name:
        description: 'Name is the name the container will be given.

          If no name is provided, one will be randomly generated.

          Optional.'
        type: string
        x-go-name: Name
      netns:
        $ref: '#/definitions/Namespace'
      network_options:
        additionalProperties:
          items:
            type: string
          type: array
        description: 'NetworkOptions are additional options for each network

          Optional.'
        type: object
        x-go-name: NetworkOptions
      networkOrder:
        description: 'The order that networks will be configured in.

          If not set, alphabetical order based on network name will be used.

          If set: Must be the same length as Networks and its contents must be every key in the Networks map.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: NetworkOrder
      no_new_privileges:
        description: 'NoNewPrivileges is whether the container will set the no new

          privileges flag on create, which disables gaining additional

          privileges (e.g. via setuid) in the container.

          Optional.'
        type: boolean
        x-go-name: NoNewPrivileges
      oci_runtime:
        description: 'OCIRuntime is the name of the OCI runtime that will be used to create

          the container.

          If not specified, the default will be used.

          Optional.'
        type: string
        x-go-name: OCIRuntime
      oom_score_adj:
        description: 'OOMScoreAdj adjusts the score used by the OOM killer to determine

          processes to kill for the container''s process.

          Optional.'
        format: int64
        type: integer
        x-go-name: OOMScoreAdj
      overlay_volumes:
        description: 'Overlay volumes are named volumes that will be added to the container.

          Optional.'
        items:
          $ref: '#/definitions/OverlayVolume'
        type: array
        x-go-name: OverlayVolumes
      passwd_entry:
        description: 'PasswdEntry specifies an arbitrary string to append to the container''s /etc/passwd file.

          Optional.'
        type: string
        x-go-name: PasswdEntry
      personality:
        $ref: '#/definitions/LinuxPersonality'
      pidns:
        $ref: '#/definitions/Namespace'
      pod:
        description: 'Pod is the ID of the pod the container will join.

          Optional.'
        type: string
        x-go-name: Pod
      portmappings:
        description: 'PortBindings is a set of ports to map into the container.

          Only available if NetNS is set to bridge or pasta.

          Optional.'
        items:
          $ref: '#/definitions/PortMapping'
        type: array
        x-go-name: PortMappings
      privileged:
        description: 'Privileged is whether the container is privileged.

          Privileged does the following:

          Adds all devices on the system to the container.

          Adds all capabilities to the container.

          Disables Seccomp, SELinux, and Apparmor confinement.

          (Though SELinux can be manually re-enabled).

          TODO: this conflicts with things.

          TODO: this does more.

          Optional.'
        type: boolean
        x-go-name: Privileged
      procfs_opts:
        description: ProcOpts are the options used for the proc mount.
        items:
          type: string
        type: array
        x-go-name: ProcOpts
      publish_image_ports:
        description: 'PublishExposedPorts will publish ports specified in the image to

          random unused ports (guaranteed to be above 1024) on the host.

          This is based on ports set in Expose below, and any ports specified

          by the Image (if one is given).

          Only available if NetNS is set to Bridge or Pasta.

          Optional.'
        type: boolean
        x-go-name: PublishExposedPorts
      r_limits:
        description: 'Rlimits are POSIX rlimits to apply to the container.

          Optional.'
        items:
          $ref: '#/definitions/POSIXRlimit'
        type: array
        x-go-name: Rlimits
      raw_image_name:
        description: 'RawImageName is the user-specified and unprocessed input referring

          to a local or a remote image.

          Optional, but strongly encouraged to be set if Image is set.'
        type: string
        x-go-name: RawImageName
      read_only_filesystem:
        description: 'ReadOnlyFilesystem indicates that everything will be mounted

          as read-only.

          Optional.'
        type: boolean
        x-go-name: ReadOnlyFilesystem
      read_write_tmpfs:
        description: 'ReadWriteTmpfs indicates that when running with a ReadOnlyFilesystem

          mount temporary file systems.

          Optional.'
        type: boolean
        x-go-name: ReadWriteTmpfs
      remove:
        description: 'Remove indicates if the container should be removed once it has been started

          and exits.

          Optional.'
        type: boolean
        x-go-name: Remove
      removeImage:
        description: 'RemoveImage indicates that the container should remove the image it

          was created from after it exits.

          Only allowed if Remove is set to true and Image, not Rootfs, is in

          use.

          Optional.'
        type: boolean
        x-go-name: RemoveImage
      resource_limits:
        $ref: '#/definitions/LinuxResources'
      restart_policy:
        description: 'RestartPolicy is the container''s restart policy - an action which

          will be taken when the container exits.

          If not given, the default policy, which does nothing, will be used.

          Optional.'
        type: string
        x-go-name: RestartPolicy
      restart_tries:
        description: 'RestartRetries is the number of attempts that will be made to restart

          the container.

          Only available when RestartPolicy is set to "on-failure".

          Optional.'
        format: uint64
        type: integer
        x-go-name: RestartRetries
      rootfs:
        description: 'Rootfs is the path to a directory that will be used as the

          container''s root filesystem. No modification will be made to the

          directory, it will be directly mounted into the container as root.

          Conflicts with Image.

          At least one of Image or Rootfs must be specified.'
        type: string
        x-go-name: Rootfs
      rootfs_mapping:
        description: 'RootfsMapping specifies if there are UID/GID mappings to apply to the rootfs.

          Optional.'
        type: string
        x-go-name: RootfsMapping
      rootfs_overlay:
        description: 'RootfsOverlay tells if rootfs is actually an overlay on top of base path.

          Optional.'
        type: boolean
        x-go-name: RootfsOverlay
      rootfs_propagation:
        description: 'RootfsPropagation is the rootfs propagation mode for the container.

          If not set, the default of rslave will be used.

          Optional.'
        type: string
        x-go-name: RootfsPropagation
      sdnotifyMode:
        description: 'Determine how to handle the NOTIFY_SOCKET - do we participate or pass it through

          "container" - let the OCI runtime deal with it, advertise conmon''s MAINPID

          "conmon-only" - advertise conmon''s MAINPID, send READY when started, don''t pass to OCI

          "ignore" - unset NOTIFY_SOCKET

          Optional.'
        type: string
        x-go-name: SdNotifyMode
      seccomp_policy:
        description: 'SeccompPolicy determines which seccomp profile gets applied

          the container. valid values: empty,default,image'
        type: string
        x-go-name: SeccompPolicy
      seccomp_profile_path:
        description: 'SeccompProfilePath is the path to a JSON file containing the

          container''s Seccomp profile.

          If not specified, no Seccomp profile will be used.

          Optional.'
        type: string
        x-go-name: SeccompProfilePath
      secret_env:
        additionalProperties:
          type: string
        description: 'EnvSecrets are secrets that will be set as environment variables

          Optional.'
        type: object
        x-go-name: EnvSecrets
      secrets:
        description: 'Secrets are the secrets that will be added to the container

          Optional.'
        items:
          $ref: '#/definitions/Secret'
        type: array
        x-go-name: Secrets
      selinux_opts:
        description: 'SelinuxProcessLabel is the process label the container will use.

          If SELinux is enabled and this is not specified, a label will be

          automatically generated if not specified.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: SelinuxOpts
      shm_size:
        description: 'ShmSize is the size of the tmpfs to mount in at /dev/shm, in bytes.

          Conflicts with ShmSize if IpcNS is not private.

          Optional.'
        format: int64
        type: integer
        x-go-name: ShmSize
      shm_size_systemd:
        description: 'ShmSizeSystemd is the size of systemd-specific tmpfs mounts

          specifically /run, /run/lock, /var/log/journal and /tmp.

          Optional'
        format: int64
        type: integer
        x-go-name: ShmSizeSystemd
      startupHealthConfig:
        $ref: '#/definitions/StartupHealthCheck'
      stdin:
        description: 'Stdin is whether the container will keep its STDIN open.

          Optional.'
        type: boolean
        x-go-name: Stdin
      stop_signal:
        $ref: '#/definitions/Signal'
      stop_timeout:
        description: 'StopTimeout is a timeout between the container''s stop signal being

          sent and SIGKILL being sent.

          If not provided, the default will be used.

          If 0 is used, stop signal will not be sent, and SIGKILL will be sent

          instead.

          Optional.'
        format: uint64
        type: integer
        x-go-name: StopTimeout
      storage_opts:
        additionalProperties:
          type: string
        description: 'StorageOpts is the container''s storage options

          Optional.'
        type: object
        x-go-name: StorageOpts
      sysctl:
        additionalProperties:
          type: string
        description: Sysctl sets kernel parameters for the container
        type: object
        x-go-name: Sysctl
      systemd:
        description: 'Systemd is whether the container will be started in systemd mode.

          Valid options are "true", "false", and "always".

          "true" enables this mode only if the binary run in the container is

          sbin/init or systemd. "always" unconditionally enables systemd mode.

          "false" unconditionally disables systemd mode.

          If enabled, mounts and stop signal will be modified.

          If set to "always" or set to "true" and conditionally triggered,

          conflicts with StopSignal.

          If not specified, "false" will be assumed.

          Optional.'
        type: string
        x-go-name: Systemd
      terminal:
        description: 'Terminal is whether the container will create a PTY.

          Optional.'
        type: boolean
        x-go-name: Terminal
      throttleReadBpsDevice:
        additionalProperties:
          $ref: '#/definitions/LinuxThrottleDevice'
        description: IO read rate limit per cgroup per device, bytes per second
        type: object
        x-go-name: ThrottleReadBpsDevice
      throttleReadIOPSDevice:
        additionalProperties:
          $ref: '#/definitions/LinuxThrottleDevice'
        description: IO read rate limit per cgroup per device, IO per second
        type: object
        x-go-name: ThrottleReadIOPSDevice
      throttleWriteBpsDevice:
        additionalProperties:
          $ref: '#/definitions/LinuxThrottleDevice'
        description: IO write rate limit per cgroup per device, bytes per second
        type: object
        x-go-name: ThrottleWriteBpsDevice
      throttleWriteIOPSDevice:
        additionalProperties:
          $ref: '#/definitions/LinuxThrottleDevice'
        description: IO write rate limit per cgroup per device, IO per second
        type: object
        x-go-name: ThrottleWriteIOPSDevice
      timeout:
        description: 'Timeout is a maximum time in seconds the container will run before

          main process is sent SIGKILL.

          If 0 is used, signal will not be sent. Container can run indefinitely

          if they do not stop after the default termination signal.

          Optional.'
        format: uint64
        type: integer
        x-go-name: Timeout
      timezone:
        description: 'Timezone is the timezone inside the container.

          Local means it has the same timezone as the host machine

          Optional.'
        type: string
        x-go-name: Timezone
      umask:
        description: Umask is the umask the init process of the container will be run with.
        type: string
        x-go-name: Umask
      unified:
        additionalProperties:
          type: string
        description: 'CgroupConf are key-value options passed into the container runtime

          that are used to configure cgroup v2.

          Optional.'
        type: object
        x-go-name: CgroupConf
      unmask:
        description: 'Unmask a path in the container. Some paths are masked by default,

          preventing them from being accessed within the container; this undoes

          that masking. If ALL is passed, all paths will be unmasked.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: Unmask
      unsetenv:
        description: 'UnsetEnv unsets the specified default environment variables from the image or from built-in or containers.conf

          Optional.'
        items:
          type: string
        type: array
        x-go-name: UnsetEnv
      unsetenvall:
        description: 'UnsetEnvAll unsetall default environment variables from the image or from built-in or containers.conf

          UnsetEnvAll unsets all default environment variables from the image or from built-in

          Optional.'
        type: boolean
        x-go-name: UnsetEnvAll
      use_image_hostname:
        description: 'UseImageHostname indicates that /etc/hostname should not be managed by

          Podman, and instead sourced from the image.

          Optional.'
        type: boolean
        x-go-name: UseImageHostname
      use_image_hosts:
        description: 'UseImageHosts indicates that /etc/hosts should not be managed by

          Podman, and instead sourced from the image.

          Conflicts with HostAdd.

          Optional.'
        type: boolean
        x-go-name: UseImageHosts
      use_image_resolve_conf:
        description: 'UseImageResolvConf indicates that resolv.conf should not be managed

          by Podman, but instead sourced from the image.

          Conflicts with DNSServer, DNSSearch, DNSOption.

          Optional.'
        type: boolean
        x-go-name: UseImageResolvConf
      user:
        description: 'User is the user the container will be run as.

          Can be given as a UID or a username; if a username, it will be

          resolved within the container, using the container''s /etc/passwd.

          If unset, the container will be run as root.

          Optional.'
        type: string
        x-go-name: User
      userns:
        $ref: '#/definitions/Namespace'
      utsns:
        $ref: '#/definitions/Namespace'
      volatile:
        description: 'Volatile specifies whether the container storage can be optimized

          at the cost of not syncing all the dirty files in memory.

          Optional.'
        type: boolean
        x-go-name: Volatile
      volumes:
        description: 'Volumes are named volumes that will be added to the container.

          These will supersede Image Volumes and VolumesFrom volumes where

          there are conflicts.

          Optional.'
        items:
          $ref: '#/definitions/NamedVolume'
        type: array
        x-go-name: Volumes
      volumes_from:
        description: 'VolumesFrom is a set of containers whose volumes will be added to

          this container. The name or ID of the container must be provided, and

          may optionally be followed by a : and then one or more

          comma-separated options. Valid options are ''ro'', ''rw'', and ''z''.

          Options will be used for all volumes sourced from the container.

          Optional.'
        items:
          type: string
        type: array
        x-go-name: VolumesFrom
      weightDevice:
        additionalProperties:
          $ref: '#/definitions/LinuxWeightDevice'
        description: Weight per cgroup per device, can override BlkioWeight
        type: object
        x-go-name: WeightDevice
      work_dir:
        description: 'WorkDir is the container''s working directory.

          If unset, the default, /, will be used.

          Optional.'
        type: string
        x-go-name: WorkDir
    type: object
    x-go-package: go.podman.io/podman/v6/pkg/specgen
  ImageVolume:
    description: 'ImageVolume is a volume based on a container image.  The container image is

      first mounted on the host and is then bind-mounted into the container.  An

      ImageVolume is always mounted read-only.'
    properties:
      Destination:
        description: Destination is the absolute path of the mount in the container.
        type: string
      ReadWrite:
        description: ReadWrite sets the volume writable.
        type: boolean
      Source:
        description: 'Source is the source of the image volume.  The image can be referred

          to by name and by ID.'
        type: string
      subPath:
        description: 'SubPath mounts a particular path within the image.

          If empty, the whole image is mounted.'
        type: string
        x-go-name: SubPath
    type: object
    x-go-package: go.podman.io/podman/v6/pkg/specgen
  DriverData:
    description: DriverData handles the data for a storage driver
    properties:
      Data:
        additionalProperties:
          type: string
        description: 'Low-level storage metadata, provided as key/value pairs.


          This information is driver-specific, and depends on the storage-driver

          in use, and should be used for informational purposes only.'
        example:
          MergedDir: /var/lib/docker/overlay2/ef749362d13333e65fc95c572eb525abbe0052e16e086cb64bc3b98ae9aa6d74/merged
          UpperDir: /var/lib/docker/overlay2/ef749362d13333e65fc95c572eb525abbe0052e16e086cb64bc3b98ae9aa6d74/diff
          WorkDir: /var/lib/docker/overlay2/ef749362d13333e65fc95c572eb525abbe0052e16e086cb64bc3b98ae9aa6d74/work
        type: object
      Name:
        description: Name of the storage driver.
        example: overlay2
        type: string
    required:
    - Data
    - Name
    type: object
    x-go-package: go.podman.io/podman/v6/libpod/define
  TmpfsOptions:
    properties:
      Mode:
        $ref: '#/definitions/FileMode'
      Options:
        description: 'Options to be passed to the tmpfs mount. An array of arrays. Flag

          options should be provided as 1-length arrays. Other types should be

          provided as 2-length arrays, where the first item is the key and the

          second the value.'
        items:
          items:
            type: string
          type: array
        type: array
      SizeBytes:
        description: 'Size sets the size of the tmpfs, in bytes.


          This will be converted to an operating system specific value

          depending on the host. For example, on linux, it will be converted to

          use a ''k'', ''m'' or ''g'' syntax. BSD, though not widely supported with

          docker, uses a straight byte value.


          Percentages are not supported.'
        format: int64
        type: integer
    title: TmpfsOptions defines options specific to mounts of type "tmpfs".
    type: object
    x-go-package: github.com/moby/moby/api/types/mount
  InspectAdditionalNetwork:
    description: 'InspectAdditionalNetwork holds information about non-default networks the

      container has been connected to.

      As with InspectNetworkSettings, many fields are unused and maintained only

      for compatibility with Docker.'
    properties:
      AdditionalMACAddresses:
        description: 'AdditionalMacAddresses is a set of additional MAC Addresses beyond

          the first. The network backend may configure more than one interface

          for a single network, which can cause this.'
        items:
          type: string
        type: array
        x-go-name: AdditionalMacAddresses
      Aliases:
        description: Aliases are any network aliases the container has in this network.
        items:
          type: string
        type: array
      DriverOpts:
        additionalProperties:
          type: string
        description: 'DriverOpts is presently unused and maintained exclusively for

          compatibility.'
        type: object
      EndpointID:
        description: EndpointID is unused, maintained exclusively for compatibility.
[...]
